:root {
    --primary-green: #18836f;
    --primary-orange: orange;
    background-color: lightblue;
    font-size: 1rem;
}

div.container {
    width: 80%;
    margin: auto;
    height: 100vh;
}

div.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

div.grid-item-1 {
    grid-column: 1/11;
    grid-row: 1;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
}

.banner-item-1 {
    grid-column: 1/2;
}

div.banner-item-2 {
    color: white;
    grid-column: 3/11;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.grid-item-2 {
    grid-column: 1/2;
}

.grid-item-3 {
    grid-column: 2/9;
}

.grid-item-4 {
    grid-column: 9/11;
}

.primary-green {
    color: var(--primary-green);
}

.primary-orange {
    color: var(--primary-orange);
}

h1,
h2 {
    color: var(--primary-green);
}

h1 {
    text-align: center;
}

h3,h4 {
    color: var(--primary-green);
}

h4 {
    padding-left: 2%
}

#banner_part_first {
    display: none;
}

div.site-container div {
    margin-bottom: 2vh;
}

#navbar {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10px;
}

noscript {
    background-color: red;
    color: blueviolet;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.content {
    padding-left: 2em;
    font-size: 1.2rem;
    line-height: 1.4
}

code {
    font-size: 1rem;
}

pre {
    font-size: 1rem;
}

li.nostyle {
    list-style-type: none;
  }

.space_above {
    padding-top: 10px;
  }

  .table_type_one>caption,figcaption {
    font-size: 18px;
    font-family: Helvetica;
    color: white;
    background-color: var(--primary-green);
    width: 80%;
    text-align:center;
    height: 60px;
    line-height: 60px;
    padding:auto;
  }
  
  .table_type_one {
    text-align: center;
    font-family: Helvetica;
    width: 100%;
  }

  .table_type_one > caption {
    width:100%;
    margin-top: 2%;
  }

  .table_type_one thead>tr {
    background-color: black;
    color: #fff;
  }
  .table_type_one th {
    font-weight: normal;
  }

  .table_type_one col:first-of-type {
    width: 15%;
  }
  
  .table_type_one {
    caption-side: bottom;
    text-align: center;
  }

  .move-right {
    padding-left: 15%;
  }

@media screen and (min-width: 500px) {

    div.banner-item-2 {
        grid-column: 2/9;
    }

    #banner_part_first {
        display: inline;
    }
    input {
        width: 80%;
        height: 2rem;
    }
}